
</div> <!-- .page-width -->
</div> <!-- .page-content -->
<footer class="page-footer">
    <div class="page-width">
        @@include('footer-cont.html')
    </div>
</footer>
</div> <!-- .page-wrap -->

<!--noindex-->
@@include('../components/modals.html')
<!--/noindex-->

<script src="js/scripts.js"></script>
<script src="js/backend.js"></script>
</body>
</html>
