@@include('head.html')

<body ontouchstart>
<div class="sprite-image">
    @@include('../../img/sprite.svg')
</div>

<div class="page-wrap">

    <header class="page-header">
        <div class="page-width">
            @@include('header-cont.html')
        </div>
    </header>

    <div class="page-content">

        <div class="page-width">

