$main-color: #000;

$blue-color: #3962CB;

$blue-color-hover: #1443b5;

$light-blue-color: #EEF5FB;

$dark-blue-color: #182836;

$gray-color: #DEDEDE;

$green-color: #2EB62B;

$orange-color: #FFCB47;

$red-color: #FA6464;

$dark-gray-color: #616161;

$main-font: 'Museo Sans', Candara, Segoe, Segoe UI, Helvetica Neue, Helvetica sans-serif;

$anim-cubic: cubic-bezier(.36,.26,.19,1.03);

