.default-ui{
    line-height: 1.6;
    p{
	margin-bottom: 25px;
	max-width: 1000px;
	line-height: 1.6;
	color: #616161;
    }

    .default-ui__preview-text{
	color: #000;
	font-weight: 700;
    }


    ol{
	max-width: 1000px;
	list-style: none;
	counter-reset: li;
	margin-bottom: 30px;
	>li{
	    padding-left: 25px;
	    position: relative;
	    margin-bottom: 10px;
	    &:before{
		content: counter(li)'.';
		counter-increment: li;
		position: absolute;
		left: 0;
		width: 20px;
		text-align: center;
		font-size: 16px;
		top: 3px;
		@include breakpoint(w500){
		    font-size: 14px;
		}
	    }
	}
    }


    ul{
	margin-bottom: 20px;
	color: #000;

	&:last-child{
	    margin-bottom: 0;
	}
	&.two-col{
	    columns: 2;
	    column-gap: 50px;
	    @include breakpoint(w768){
		columns: 1;
		column-gap: 0;
	    }
	    >li{
		display: inline-block;
		vertical-align: top;
		width: 100%;
	    }
	}
	>li{
	    box-sizing: border-box;
	    position: relative;
	    padding: 0 0 0 15px;
	    margin-bottom: 12px;
	    >ul{
		padding-top: 10px;
	    }
	    &:before{
		@include pseudo-styler();
		left: 0;
		top: 0;
		content: "•";
	    }
	}
    }

    a{
	color: $blue-color;
	&:hover{
	    color: #000;
	}
    }

    blockquote{
	background: #EFECE4;
	padding: 45px 70px;
	position: relative;
	@include breakpoint(w1000){
	    padding-right: 40px;
	}
	@include breakpoint(w768){
	    padding-top: 80px;
	    padding-left: 30px;
	    padding-right: 30px;
	}
	@include breakpoint(w500){
	    padding-left: 20px;
	    padding-right: 20px;
	}
	p:last-child{
	    margin-bottom: 0;
	}
    }

    h3{
	font-weight: normal;
	text-transform: none;
	padding-bottom: 20px;
    }

    table{
	width: 100%;
	font-size: 12px;
	@include breakpoint(w1000){
	    margin-bottom: 20px;
	}

	th{
	    text-align: left;
	    padding: 0 10px 10px 0;
	    font-weight: 700;
	    &:last-child{
		padding-right: 0;
	    }
	}
	td{
	    padding: 5px 10px 5px 0;
	    border-bottom: 1px solid #DEDEDE;
	    &:last-child{
		padding-right: 0;
	    }
	}
    }
    .video-link{
	margin-bottom: 30px;
    }
}

.upper-text{
    text-transform: uppercase;
}

.separator-line{
    height: 1px;
    background: #DEDEDE;
    margin: 30px 0;

}
