@font-face {
    font-family: 'Museo Sans';
    src: url('../assets/fonts/MuseoSansCyrl-300.eot'),
    url('../assets/fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/MuseoSansCyrl-300.woff') format('woff'),
    url('../assets/fonts/MuseoSansCyrl-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

html {
    height: 100%;
}

html,
body {
    background: #fff;
    font-size: 16px;
    font-weight: 300;
    color: $main-color;
    font-family: $main-font;
}

body {
    min-width: 360px;
    min-height: 100%;
    -webkit-tap-highlight-color: transparentize($main-color, .9);
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
}

b,
strong {
    font-weight: 700;
}

a,
a:link,
a:visited {
    color: $main-color;
    text-decoration: none;
    transition: color .4s $anim-cubic;
}

.page-width {
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 1170px;
    @include breakpoint(w1000) {
        padding: 0 20px;
    }
}

.page-wrap {
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    box-sizing: border-box;
}

.center-text {
    text-align: center;
}

.page-row {
    display: flex;
    margin: 0 -15px;
    @include breakpoint(w1000) {
        margin: 0 -10px;
    }
    @include breakpoint(w500) {
        flex-wrap: wrap;
    }
    &--large {
        margin: 0 -30px;
        @include breakpoint(w1000) {
            margin: 0 -15px;
        }
    }
    &--middle {
        align-items: center;
    }
    &--between {
        justify-content: space-between;
    }
    &--wrap {
        flex-wrap: wrap;
    }
}

.page-col {
    padding: 0 15px;
    box-sizing: border-box;
    @include breakpoint(w1000) {
        padding: 0 10px;
    }
    @include breakpoint(w500) {
        width: 100%;
    }
    &.page-col--mw250{
	max-width: 280px;
	@include breakpoint(w1000) {
	    max-width: none;
	}
    }
    &--w50 {
        width: 50%;
        @include breakpoint(w768) {
            width: 100%;
        }
    }
    &--w33 {
        width: 33.33%;
        @include breakpoint(w768) {
            width: 50%;
        }
        @include breakpoint(w500) {
            width: 100%;
            &.page-col--w33-m{
                width: 33.3%;
            }
        }
    }
    &--w25 {
        width: 25%;
        @include breakpoint(w768) {
            width: 50%;
        }
    }
    &--large {
        padding: 0 30px;
        @include breakpoint(w1000) {
            padding: 0 15px;
        }
    }
}

.no-wrap {
    white-space: nowrap;
}

.no-scroll {
    overflow-y: scroll;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    body {
        height: auto;
        overflow: hidden;
    }
}

.sprite-image {
    position: fixed;
    visibility: hidden;
    z-index: -1;
    left: 0;
    top: 0;
}

.no-transition * {
    transition: none !important;
}

.vertical-section{
    margin: 50px 0;
    @include breakpoint(w500){
        margin: 40px 0;
    }
    &.vertical-section--first{
        margin-top: 0;
    }

    &.vertical-section--gray{
        margin: 0;
        padding: 50px 0;
        background: $light-blue-color;
        position: relative;
	@include breakpoint(w500){
	    padding: 40px 0;
	}
        &:before{
            @include pseudo-styler();
            right: 100%;
            top: 0;
            height: 100%;
            background: $light-blue-color;
            width: 3000px;
        }
        &:after{
            @include pseudo-styler();
            left: 100%;
            top: 0;
            height: 100%;
            background: $light-blue-color;
            width: 3000px;
        }
    }
}
